<!DOCTYPE html>
{% load static  %} 
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/lens.css' %}">
</head>
<div class="page-header">
  <h1 style="color: white;">판정 결과</a></h1>
</div>
<br>
<body>
  {% block content %}
    <div style="margin-left: 150px; margin-right: 110px;">
      {{ mode }}
      {% for image, result in predictions %}
        <figure style="display:inline-block;">
          <img src="{{ image.image.url }}" width="120px" height="100px">
          {% if result == 0 %}  
            <figcaption style="color:blue; text-align: center;"><b>정상</b></figcaption>
          {% else %}
            <figcaption style="color:red; text-align: center;"><b>불량</b></figcaption>
          {% endif %}
        </figure>
      {% endfor %}
      <div id="btn_group">
        <button type="button" onClick="history.back()"> 이전 페이지로 </button>
        <button type="button" onClick="location.href='/'"> 메인 페이지로 </button><br><br><br>
      </div>
    </div>
  {% endblock %}
</body>
</html>