<!DOCTYPE html>
<html>
<head>
  <script>
      var attributes = ['trt_lot_no', 'prt_lot_no', 'treat.mch_no', 'treat.trt_uptime', 'print.mch_no', 'print.prt_uptime',
        'print.raw_mat', 'print.dry_no', 'print.heat_treat', 'print.prd_type', 'mold.snd_mch_no', 'mold.snd_uptime',
        'mold.snd_raw_mat', 'mold.snd_dry_no', 'mold.snd_heat', 'material.cd_no', 'material.mat_nm', 'material.mat_emit_no']
  </script>
  <style>
    input:focus { outline: none; }
    #btn_group button{
      border: 1px solid black;
      background-color: rgba(0,0,0,0);
      color: black;
      padding: 5px;
    }
  </style>
</head>
<body>
  <h1>유플렉스</h1>
  <div id="btn_group">
    <button type="button" onClick="location.href='/predict/'"> 정보 입력하여 예측 </button>
    <button type="button" onClick="location.href='/image/'"> 이미지 넣기 </button>
  </div>
</body>
</html>
